# The Purpose of this project is to perform data engineering using Sql and python .Our goal is to explore and analyze CIA Factbook Database .Below mentioned is the detailed Data Dictionary of Facts table :
* Id : Auto generated ID.
* Code: Country code assocaited with different countries.
* name : Name of Countries in the World. 
* area : Total area of countries.
* area_land: Total land area of countries.
* area_water: Total land area of countries. 
* population: Population of Countries.
* population_growth : population growth percentage of countries. 
* Birth_rate: birth rate percentage of countries.
* Death_rate: birth_rate of percentage countries.
* Migration_rate : migration rate percentage of countries.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///C:\Users\ajaya\Downloads\factbook.db

# Overview of Data 

We will begin by exploring the data.

In [2]:
%%sql
select * from facts LIMIT 5;

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

# Summary Statistics

In [3]:
%%sql
select MIN(population) AS MIN_POPULATION,MAX(population) AS MAX_POPULATION,MIN(population_growth) AS MIN_POPULATION_GROWTH,MAX(population_growth) AS MAX_POPULATION_GROWTH
from facts;

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

A few things are interesting here:
* There is a country with Population of 0
* There is a country with Population of 7.2 billions

Let's explore and find out which countries those are

# Exploring Outliers

In [4]:
%%sql
select * from facts 
where population = (select MIN(population) from facts);

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

It seems like table contains a row for Antartica with population of 0

In [5]:
%%sql
select * from facts 
where population = (select MAX(population) from facts);

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

We also see that the table contains a row for the whole world, which explains the maximum population of over 7.2 billion we found earlier.

Now that we know this, we should recalculate the summary statistics we calculated earlier, while excluding the row for the whole world.

# Summary Statistics Recalculated

In [6]:
%%sql
select MIN(population) AS MIN_POPULATION,MAX(population) AS MAX_POPULATION,MIN(population_growth) AS MIN_POPULATION_GROWTH,MAX(population_growth) AS MAX_POPULATION_GROWTH
from facts where name <> 'World';

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

There is a Country whose population is close to 1.4 billion.

# Exploring Average Population and Area

Let's explore density of all countries . Density depends on population and area of countries .We will explore average population and average areas of countries. We should discard the row for the whole planet.

In [7]:
%%sql
select AVG(population) as AVERAGE_POPULATION,AVG(area) as AVERAGE_AREA from facts;

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(62094928.32231405, 555093.546184739)]

We see that the average population is around 32 million and the average area is 555 thousand square kilometers.

# Find Densly Populated Countries
To finish, we'll build on the query above to find countries that are densely populated. We'll identify countries that have the following:
* Above-average values for population.
* Below-average values for area.

In [8]:
%%sql
select name from facts 
where population > (select AVG(population) from facts where name <> 'World');

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[('Afghanistan',),
 ('Algeria',),
 ('Argentina',),
 ('Bangladesh',),
 ('Brazil',),
 ('Burma',),
 ('Canada',),
 ('China',),
 ('Colombia',),
 ('Congo, Democratic Republic of the',),
 ('Egypt',),
 ('Ethiopia',),
 ('France',),
 ('Germany',),
 ('India',),
 ('Indonesia',),
 ('Iran',),
 ('Iraq',),
 ('Italy',),
 ('Japan',),
 ('Kenya',),
 ('Korea, South',),
 ('Mexico',),
 ('Morocco',),
 ('Nigeria',),
 ('Pakistan',),
 ('Philippines',),
 ('Poland',),
 ('Russia',),
 ('South Africa',),
 ('Spain',),
 ('Sudan',),
 ('Tanzania',),
 ('Thailand',),
 ('Turkey',),
 ('Uganda',),
 ('Ukraine',),
 ('United Kingdom',),
 ('United States',),
 ('Vietnam',),
 ('European Union',),
 ('World',)]

In [9]:
%%sql
select name from facts 
where area < (select AVG(area)  from facts where name <> 'World');

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[('Albania',),
 ('Andorra',),
 ('Antigua and Barbuda',),
 ('Armenia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Bahamas, The',),
 ('Bahrain',),
 ('Bangladesh',),
 ('Barbados',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Benin',),
 ('Bhutan',),
 ('Bosnia and Herzegovina',),
 ('Brunei',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burundi',),
 ('Cambodia',),
 ('Cameroon',),
 ('Cabo Verde',),
 ('Comoros',),
 ('Congo, Republic of the',),
 ('Costa Rica',),
 ("Cote d'Ivoire",),
 ('Croatia',),
 ('Cuba',),
 ('Cyprus',),
 ('Czech Republic',),
 ('Denmark',),
 ('Djibouti',),
 ('Dominica',),
 ('Dominican Republic',),
 ('Ecuador',),
 ('El Salvador',),
 ('Equatorial Guinea',),
 ('Eritrea',),
 ('Estonia',),
 ('Fiji',),
 ('Finland',),
 ('Gabon',),
 ('Gambia, The',),
 ('Georgia',),
 ('Germany',),
 ('Ghana',),
 ('Greece',),
 ('Grenada',),
 ('Guatemala',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Guyana',),
 ('Haiti',),
 ('Honduras',),
 ('Hungary',),
 ('Iceland',),
 ('Iraq',),
 ('Ireland',),
 ('Israel',),
 ('Italy',),
 ('Jamaica',),
 ('Japan',),
 ('Jordan',),
 ('Kiribati',),
 ('Korea, North',),
 ('Korea, South',),
 ('Kosovo',),
 ('Kuwait',),
 ('Kyrgyzstan',),
 ('Laos',),
 ('Latvia',),
 ('Lebanon',),
 ('Lesotho',),
 ('Liberia',),
 ('Liechtenstein',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macedonia',),
 ('Malawi',),
 ('Malaysia',),
 ('Maldives',),
 ('Malta',),
 ('Marshall Islands',),
 ('Mauritius',),
 ('Micronesia, Federated States of',),
 ('Moldova',),
 ('Monaco',),
 ('Montenegro',),
 ('Morocco',),
 ('Nauru',),
 ('Nepal',),
 ('Netherlands',),
 ('New Zealand',),
 ('Nicaragua',),
 ('Norway',),
 ('Oman',),
 ('Palau',),
 ('Panama',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Qatar',),
 ('Romania',),
 ('Rwanda',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Vincent and the Grenadines',),
 ('Samoa',),
 ('San Marino',),
 ('Sao Tome and Principe',),
 ('Senegal',),
 ('Serbia',),
 ('Seychelles',),
 ('Sierra Leone',),
 ('Singapore',),
 ('Slovakia',),
 ('Slovenia',),
 ('Solomon Islands',),
 ('Spain',),
 ('Sri Lanka',),
 ('Suriname',),
 ('Swaziland',),
 ('Sweden',),
 ('Switzerland',),
 ('Syria',),
 ('Tajikistan',),
 ('Thailand',),
 ('Timor-Leste',),
 ('Togo',),
 ('Tonga',),
 ('Trinidad and Tobago',),
 ('Tunisia',),
 ('Turkmenistan',),
 ('Tuvalu',),
 ('Uganda',),
 ('United Arab Emirates',),
 ('United Kingdom',),
 ('Uruguay',),
 ('Uzbekistan',),
 ('Vanuatu',),
 ('Holy See (Vatican City)',),
 ('Vietnam',),
 ('Yemen',),
 ('Zimbabwe',),
 ('Taiwan',),
 ('Ashmore and Cartier Islands',),
 ('Christmas Island',),
 ('Cocos (Keeling) Islands',),
 ('Coral Sea Islands',),
 ('Heard Island and McDonald Islands',),
 ('Norfolk Island',),
 ('Hong Kong',),
 ('Macau',),
 ('Faroe Islands',),
 ('Clipperton Island',),
 ('French Polynesia',),
 ('New Caledonia',),
 ('Saint Martin',),
 ('Saint Pierre and Miquelon',),
 ('Wallis and Futuna',),
 ('Aruba',),
 ('Curacao',),
 ('Sint Maarten',),
 ('Cook Islands',),
 ('Niue',),
 ('Tokelau',),
 ('Bouvet Island',),
 ('Jan Mayen',),
 ('Svalbard',),
 ('Akrotiri',),
 ('Anguilla',),
 ('Bermuda',),
 ('British Indian Ocean Territory',),
 ('British Virgin Islands',),
 ('Cayman Islands',),
 ('Dhekelia',),
 ('Falkland Islands (Islas Malvinas)',),
 ('Gibraltar',),
 ('Guernsey',),
 ('Jersey',),
 ('Isle of Man',),
 ('Montserrat',),
 ('Pitcairn Islands',),
 ('Saint Helena, Ascension, and Tristan da Cunha',),
 ('South Georgia and South Sandwich Islands',),
 ('Turks and Caicos Islands',),
 ('American Samoa',),
 ('Guam',),
 ('Navassa Island',),
 ('Northern Mariana Islands',),
 ('Puerto Rico',),
 ('Virgin Islands',),
 ('Wake Island',),
 ('Gaza Strip',),
 ('Paracel Islands',),
 ('Spratly Islands',),
 ('West Bank',),
 ('Western Sahara',)]

# Finding Countries with the most people

In [10]:
%%sql
select * from facts 
where population = (select MAX(population) from facts
                   where name <> 'World');

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44)]

# Find Country with Highest population growth

In [11]:
%%sql
select * from facts 
where population_growth = (select MAX(population_growth) from facts where name <> 'World');

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(162, 'od', 'South Sudan', 644329, None, None, 12042910, 4.02, 36.91, 8.18, 11.47)]

In [12]:
%%sql
select name from facts
where population_growth = (select MAX(population_growth) from facts where name <> 'World');

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[('South Sudan',)]

# Finding Country with less young population where death rate is more than birth rate

In [13]:
%%sql
select name,population,death_rate,birth_rate from facts 
where death_rate > birth_rate
ORDER BY population ASC;

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[('Saint Pierre and Miquelon', 5657, 9.72, 7.42),
 ('Monaco', 30535, 9.24, 6.65),
 ('Estonia', 1265420, 12.4, 10.51),
 ('Slovenia', 1983412, 11.37, 8.42),
 ('Latvia', 1986705, 14.31, 10.0),
 ('Lithuania', 2884433, 14.27, 10.1),
 ('Moldova', 3546847, 12.59, 12.0),
 ('Bosnia and Herzegovina', 3867055, 9.75, 8.87),
 ('Croatia', 4464844, 12.18, 9.45),
 ('Serbia', 7176794, 13.66, 9.08),
 ('Bulgaria', 7186893, 14.44, 8.92),
 ('Austria', 8665550, 9.42, 9.41),
 ('Belarus', 9589689, 13.36, 10.7),
 ('Hungary', 9897541, 12.73, 9.16),
 ('Czech Republic', 10644842, 10.34, 9.63),
 ('Greece', 10775643, 11.09, 8.66),
 ('Portugal', 10825309, 11.02, 9.27),
 ('Romania', 21666350, 11.9, 9.14),
 ('Poland', 38562189, 10.19, 9.74),
 ('Ukraine', 44429471, 14.46, 10.72),
 ('Italy', 61855120, 10.19, 8.74),
 ('Germany', 80854408, 11.42, 8.47),
 ('Japan', 126919659, 9.51, 7.93),
 ('Russia', 142423773, 13.69, 11.6)]

# Finding Countries with young population

In [14]:
%%sql
select name,population,death_rate,birth_rate from facts 
where birth_rate > death_rate
ORDER BY population;

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[('Falkland Islands (Islas Malvinas)', 3361, 4.9, 10.9),
 ('Montserrat', 5241, 6.3, 11.26),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795, 7.44, 9.88),
 ('Nauru', 9540, 5.87, 24.95),
 ('Cook Islands', 9838, 8.03, 14.33),
 ('Tuvalu', 10869, 8.74, 23.74),
 ('Wallis and Futuna', 15613, 5.06, 13.45),
 ('Anguilla', 16418, 4.57, 12.67),
 ('Palau', 21265, 7.99, 11.05),
 ('Gibraltar', 29258, 8.37, 14.08),
 ('San Marino', 33020, 8.45, 8.63),
 ('British Virgin Islands', 33454, 4.99, 10.91),
 ('Liechtenstein', 37624, 7.12, 10.45),
 ('Sint Maarten', 39689, 4.51, 13.0),
 ('Faroe Islands', 50196, 8.71, 13.77),
 ('Turks and Caicos Islands', 50280, 3.1, 16.13),
 ('Saint Kitts and Nevis', 51936, 7.09, 13.5),
 ('Northern Mariana Islands', 52344, 3.71, 18.32),
 ('American Samoa', 54343, 4.75, 22.89),
 ('Cayman Islands', 56092, 5.53, 12.11),
 ('Greenland', 57733, 8.49, 14.48),
 ('Guernsey', 66080, 8.78, 9.84),
 ('Bermuda', 70196, 8.23, 11.33),
 ('Marshall Islands', 72191, 4.21, 25.6),
 ('Dominica', 73607, 7.91, 15.41),
 ('Andorra', 85580, 6.96, 8.13),
 ('Isle of Man', 87545, 10.06, 11.1),
 ('Seychelles', 92430, 6.89, 14.19),
 ('Antigua and Barbuda', 92436, 5.69, 15.85),
 ('Jersey', 97294, 7.68, 11.91),
 ('Saint Vincent and the Grenadines', 102627, 7.18, 13.57),
 ('Virgin Islands', 103574, 8.54, 10.31),
 ('Micronesia, Federated States of', 105216, 4.23, 20.54),
 ('Kiribati', 105711, 7.12, 21.46),
 ('Tonga', 106501, 4.85, 23.0),
 ('Grenada', 110694, 8.08, 16.03),
 ('Aruba', 112162, 8.18, 12.56),
 ('Curacao', 148406, 8.2, 13.8),
 ('Guam', 161785, 5.12, 16.82),
 ('Saint Lucia', 163922, 7.42, 13.7),
 ('Sao Tome and Principe', 194006, 7.24, 34.23),
 ('Samoa', 197773, 5.32, 20.87),
 ('New Caledonia', 271615, 5.52, 15.33),
 ('Vanuatu', 272264, 4.09, 25.04),
 ('French Polynesia', 282703, 5.02, 15.22),
 ('Barbados', 290604, 8.44, 11.87),
 ('Bahamas, The', 324597, 7.05, 15.5),
 ('Iceland', 331918, 6.28, 13.91),
 ('Belize', 347369, 5.97, 24.68),
 ('Maldives', 393253, 3.89, 15.75),
 ('Malta', 413965, 9.09, 10.18),
 ('Brunei', 429646, 3.52, 17.32),
 ('Cabo Verde', 545993, 6.11, 20.33),
 ('Luxembourg', 570252, 7.24, 11.37),
 ('Western Sahara', 570866, 8.34, 30.24),
 ('Suriname', 579633, 6.13, 16.34),
 ('Macau', 592731, 4.22, 8.88),
 ('Solomon Islands', 622469, 3.85, 25.77),
 ('Montenegro', 647073, 9.43, 10.42),
 ('Guyana', 735222, 7.32, 15.59),
 ('Equatorial Guinea', 740743, 8.19, 33.31),
 ('Bhutan', 741919, 6.69, 17.78),
 ('Comoros', 780971, 7.57, 27.84),
 ('Djibouti', 828324, 7.73, 23.65),
 ('Fiji', 909389, 6.04, 19.43),
 ('Cyprus', 1189197, 6.62, 11.41),
 ('Trinidad and Tobago', 1222363, 8.56, 13.46),
 ('Timor-Leste', 1231116, 6.1, 34.16),
 ('Mauritius', 1339827, 6.91, 13.29),
 ('Bahrain', 1346613, 2.69, 13.66),
 ('Swaziland', 1435613, 13.56, 24.67),
 ('Gabon', 1705336, 13.12, 34.49),
 ('Guinea-Bissau', 1726170, 14.33, 33.38),
 ('Gaza Strip', 1869055, 3.04, 31.11),
 ('Lesotho', 1947701, 14.89, 25.47),
 ('Gambia, The', 1967709, 7.15, 30.86),
 ('Macedonia', 2096015, 9.08, 11.55),
 ('Botswana', 2182719, 13.39, 20.96),
 ('Qatar', 2194817, 1.53, 9.84),
 ('Namibia', 2212307, 13.91, 19.8),
 ('West Bank', 2785366, 3.5, 22.99),
 ('Kuwait', 2788534, 2.18, 19.91),
 ('Jamaica', 2950210, 6.7, 18.16),
 ('Mongolia', 2992908, 6.35, 20.25),
 ('Albania', 3029278, 6.58, 12.92),
 ('Armenia', 3056382, 9.34, 13.61),
 ('Oman', 3286936, 3.36, 24.44),
 ('Uruguay', 3341893, 9.45, 13.07),
 ('Mauritania', 3596702, 8.2, 31.34),
 ('Puerto Rico', 3598357, 8.67, 10.86),
 ('Panama', 3657024, 4.81, 18.32),
 ('Liberia', 4195666, 9.69, 34.41),
 ('New Zealand', 4438393, 7.36, 13.33),
 ('Congo, Republic of the', 4755097, 10.0, 35.85),
 ('Costa Rica', 4814144, 4.55, 15.91),
 ('Ireland', 4892305, 6.48, 14.84),
 ('Georgia', 4931226, 10.82, 12.74),
 ('Norway', 5207689, 8.12, 12.14),
 ('Turkmenistan', 5231422, 6.13, 19.4),
 ('Central African Republic', 5391539, 13.8, 35.08),
 ('Slovakia', 5445027, 9.74, 9.91),
 ('Finland', 5476922, 9.83, 10.72),
 ('Denmark', 5581503, 10.25, 10.27),
 ('Kyrgyzstan', 5664939, 6.65, 22.98),
 ('Singapore', 5674472, 3.43, 8.27),
 ('United Arab Emirates', 5779760, 1.97, 15.43),
 ('Sierra Leone', 5879098, 10.81, 37.03),
 ('Nicaragua', 5907881, 5.08, 18.03),
 ('El Salvador', 6141350, 5.69, 16.46),
 ('Lebanon', 6184701, 4.88, 14.59),
 ('Libya', 6411776, 3.58, 18.03),
 ('Eritrea', 6527689, 7.52, 30.0),
 ('Papua New Guinea', 6672429, 6.53, 24.38),
 ('Paraguay', 6783272, 4.68, 16.37),
 ('Laos', 6911544, 7.63, 24.25),
 ('Hong Kong', 7141106, 7.07, 9.23),
 ('Togo', 7552318, 7.26, 34.13),
 ('Israel', 8049314, 5.15, 18.48),
 ('Jordan', 8117564, 3.79, 25.37),
 ('Switzerland', 8121830, 8.13, 10.5),
 ('Tajikistan', 8191958, 6.18, 24.38),
 ('Honduras', 8746673, 5.17, 23.14),
 ('Azerbaijan', 9780780, 7.07, 16.64),
 ('Sweden', 9801616, 9.4, 11.99),
 ('Haiti', 10110019, 7.83, 22.31),
 ('Benin', 10448647, 8.21, 36.02),
 ('Dominican Republic', 10478756, 4.55, 18.73),
 ('Somalia', 10616380, 13.62, 40.45),
 ('Burundi', 10742276, 9.27, 42.01),
 ('Bolivia', 10800882, 6.52, 22.76),
 ('Cuba', 11031433, 7.72, 9.9),
 ('Tunisia', 11037225, 5.98, 16.64),
 ('Belgium', 11323973, 9.63, 11.41),
 ('Chad', 11631456, 14.28, 36.6),
 ('Guinea', 11780162, 9.46, 35.74),
 ('South Sudan', 12042910, 8.18, 36.91),
 ('Rwanda', 12661733, 8.96, 33.75),
 ('Senegal', 13975834, 8.46, 34.52),
 ('Zimbabwe', 14229541, 10.13, 32.26),
 ('Guatemala', 14918999, 4.77, 24.89),
 ('Zambia', 15066266, 12.67, 42.13),
 ('Cambodia', 15708756, 7.68, 23.83),
 ('Ecuador', 15868396, 5.06, 18.51),
 ('Netherlands', 16947904, 8.66, 10.83),
 ('Mali', 16955536, 12.89, 44.99),
 ('Syria', 17064854, 4.0, 22.17),
 ('Chile', 17508260, 6.0, 13.83),
 ('Malawi', 17964697, 8.41, 41.56),
 ('Niger', 18045729, 12.42, 45.45),
 ('Kazakhstan', 18157122, 8.21, 19.15),
 ('Burkina Faso', 18931686, 11.72, 42.03),
 ('Angola', 19625353, 11.49, 38.78),
 ('Sri Lanka', 22053488, 6.11, 15.85),
 ('Australia', 22751014, 7.14, 12.15),
 ("Cote d'Ivoire", 23295302, 9.55, 28.67),
 ('Taiwan', 23415126, 7.11, 8.47),
 ('Cameroon', 23739218, 10.11, 36.17),
 ('Madagascar', 23812681, 6.81, 32.61),
 ('Korea, North', 24983205, 9.21, 14.52),
 ('Mozambique', 25303113, 12.1, 38.58),
 ('Ghana', 26327649, 7.22, 31.09),
 ('Yemen', 26737317, 6.28, 29.98),
 ('Saudi Arabia', 27752316, 3.33, 18.51),
 ('Uzbekistan', 29199942, 5.3, 17.0),
 ('Venezuela', 29275460, 5.31, 19.16),
 ('Peru', 30444999, 6.01, 18.28),
 ('Malaysia', 30513848, 5.03, 19.71),
 ('Nepal', 31551305, 6.56, 20.64),
 ('Afghanistan', 32564342, 13.89, 38.57),
 ('Morocco', 33322699, 4.81, 18.2),
 ('Canada', 35099836, 8.42, 10.28),
 ('Sudan', 36108853, 7.66, 29.19),
 ('Iraq', 37056169, 3.77, 31.45),
 ('Uganda', 37101745, 10.69, 43.79),
 ('Algeria', 39542166, 4.31, 23.67),
 ('Argentina', 43431886, 7.33, 16.64),
 ('Kenya', 45925301, 6.89, 26.4),
 ('Colombia', 46736728, 5.4, 16.47),
 ('Spain', 48146134, 9.04, 9.64),
 ('Korea, South', 49115196, 6.75, 8.19),
 ('Tanzania', 51045882, 8.0, 36.39),
 ('South Africa', 53675563, 9.91, 20.75),
 ('Burma', 56320206, 7.96, 18.39),
 ('United Kingdom', 64088222, 9.35, 12.17),
 ('France', 66553766, 9.16, 12.38),
 ('Thailand', 67976405, 7.8, 11.19),
 ('Congo, Democratic Republic of the', 79375136, 10.07, 34.88),
 ('Turkey', 79414269, 5.88, 16.33),
 ('Iran', 81824270, 5.94, 17.99),
 ('Egypt', 88487396, 4.77, 22.9),
 ('Vietnam', 94348835, 5.93, 15.96),
 ('Ethiopia', 99465819, 8.19, 37.27),
 ('Philippines', 100998376, 6.11, 24.27),
 ('Mexico', 121736809, 5.26, 18.78),
 ('Bangladesh', 168957745, 5.61, 21.14),
 ('Nigeria', 181562056, 12.9, 37.64),
 ('Pakistan', 199085847, 6.49, 22.58),
 ('Brazil', 204259812, 6.58, 14.46),
 ('Indonesia', 255993674, 6.37, 16.72),
 ('United States', 321368864, 8.15, 12.49),
 ('India', 1251695584, 7.32, 19.55),
 ('China', 1367485388, 7.53, 12.49),
 ('World', 7256490011, 7.8, 18.6)]

# Find Countries with more water than land

In [15]:
%%sql
select * from facts 
where area_water > area_land;

 * sqlite:///C:\Users\ajaya\Downloads\factbook.db
Done.

[(228, 'io', 'British Indian Ocean Territory', 54400, 60, 54340, None, None, None, None, None),
 (247, 'vq', 'Virgin Islands', 1910, 346, 1564, 103574, 0.59, 10.31, 8.54, 7.67)]